{% extends "base.html" %}
{% load static %}

{% block header %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    {% load disqus_tags %}
    {% disqus_dev %}
{% endblock %}

{% block title %}Mike Zhang | {{ post.title }}{% endblock %}


{% block content %}
<div class="ui main text container">
    <div class="introduction">
        <h1 class="ui header">
            {{ post.title }}
        </h1>
        <p>
            {{ post.created_on.date }} |&nbsp;Categories:&nbsp;
            {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>&nbsp;
            {% endfor %}
        </p>
        <div class="ui hidden divider"></div>
    </div>

    <div class="blog content">
        {{ post.body | safe }}
        <div class="ui hidden divider"></div>
    </div>

    <div class="blog comment">
        {% load disqus_tags %}
        {% set_disqus_identifier post.pk|stringformat:"i" %}
        {% set_disqus_url post.get_full_path %}
        {% set_disqus_title post.title %}
        {% disqus_show_comments %}
    </div>

</div>


{% endblock %}