{% load dsu %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% dsu_stylesheet_url %}
    <title>Projects</title>
</head>
<body>
<h1>Projects</h1>

{% for project in projects %}
    <div class="ui card visible">
        <div class="blurring dimmable image">
            <div class="ui dimmer transition hidden">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Call to Action</div>
                    </div>
                </div>
            </div>
            <img src="{% static "img/project1.jpg" %}">
        </div>
        <div class="content">
            <a href="{% url 'project_detail' project.pk %}" class="header">
                {{ project.title }}
            </a>
            <div class="meta">
            <span class="group">{{ project.category }} abc</span>
            </div>
            <div class="description">{{ project.description }}</div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i>
                Users
            </a>
        </div>
    </div>
{% endfor %}
</body>
</html>