{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="ui text container">
    <div class="ui stackable two column grid">
        {% for project in projects %}
            <div class="eight wide column">
                <div class="ui special cards">
                    <div class="ui card visible">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer transition hidden">
                                <div class="content">
                                    <div class="center">
                                        <a href="{% url 'project_detail' project.url %}" class="header">
                                            <div class="ui inverted button">View</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img src="{% static project.image %}">
                        </div>
                        <div class="content">
                            <a href="{% url 'project_detail' project.url %}" class="header">
                                {{ project.title }}
                            </a>
                            <div class="meta">
                            <span class="group">{{ project.category }}</span>
                            </div>
                            <div class="description">{{ project.description }}</div>
                        </div>
                        <div class="extra content">
                            <div>
                                {% if project.group %}
                                    <i class="users icon"></i>
                                    Group
                                {% else %}
                                    <i class="user icon"></i>
                                    Individual
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
